@using Disqus.Models
@using Disqus.Services
@model DisqusUser
@inject DisqusRepository disqusRepository
@inject IDisqusService disqusService

@{
    Layout = null;
    var listings = await disqusService.GetUserActivity(Model.Id, 30);
    var isFollowing = await disqusService.IsUserFollowing(Model.Id);
}

<script>
    $(document).ready(function () {
        var isFollowing = ('@isFollowing' === 'True');
        setIsFollowing(isFollowing);
    });
</script>
<div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col">
                        <img class="disqus-user-avatar-xl" src="@Model.AvatarUrl" />
                    </div>
                    <div class="col-auto px-0">
                        <div class="row">
                            <span class="modal-title fw-bold fs-2">@Model.Name</span>
                        </div>
                        <div class="row">
                            <a href="@Model.ProfileUrl" target="_blank">&commat;@Model.UserName</a>
                        </div>
                    </div>
                </div>
                <div>
                    @if (disqusService.IsAuthenticated() && Model.Id != disqusService.AuthCookie.User_Id)
                    {
                        <button onclick="followUser(this)" data-user-id="@Model.Id" data-url="@Url.Action("FollowUser", "Disqus")" class="btn follow-button">Follow</button>
                    }
                </div>
            </div>
            <div class="modal-body">
                <span class="mb-1">Recent activity:</span>
                @foreach (var group in listings)
                {
                    <div class="row mt-3">
                        <div class="col-1 mt-2 border-top"></div>
                        <div class="col-auto">
                            <b>@group.Day.ToShortDateString()</b>
                        </div>
                        <div class="col mt-2 border-top"></div>
                    </div>

                    @foreach (var activity in group.Activities)
                    {
                        <div class="user-activity-row row mt-3">
                            @if (activity.Type == "thread_like")
                            {
                                <div class="col-12">
                                    <span class="recommend-heart recommended">&#10084;</span>
                                    <span>recommended <a href="@activity.Thread.Link">@activity.Thread.Clean_Title</a></span>
                                </div>
                            }
                            @if (activity.Type == "post")
                            {
                                <div class="col-12">
                                    <img class="disqus-user-avatar-xs" src="@Model.AvatarUrl" />
                                    <a href="@Model.ProfileUrl">@Model.Name</a>
                                    @if (activity.Parent != null)
                                    {
                                        <span>&nbsp;&curarr;&nbsp;</span>
                                        <img class="disqus-user-avatar-xs" src="@activity.Parent.Author.AvatarUrl" />
                                        <a href="@activity.Parent.Author.ProfileUrl">@activity.Parent.Author.Name</a>
                                    }

                                </div>
                                <div class="col-1"></div>
                                <div class="pt-2 px-0 col">
                                    <div class="row user-activity-highlight pt-2 px-2">@Html.Raw(activity.Message)</div>
                                    <div class="row">
                                        <div class="col user-activity-footer px-0">
                                            on <b>@activity.Thread.Forum</b>
                                            &nbsp;&rarr;&nbsp;<a href="@activity.Thread.Link">@activity.Thread.Clean_Title</a>
                                            &nbsp;|&nbsp;<a href="@activity.Url">View discussion</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
            <div class="modal-footer flex-row justify-content-between">
                <div class="col-auto user-detail-stats">
                    <span class="d-block">@Model.NumPosts</span>
                    Comments
                </div>
                <div class="col-auto user-detail-stats">
                    <span class="d-block">@Model.NumLikesReceived</span>
                    Upvotes
                </div>
                <div class="col-auto user-detail-stats">
                    <span class="d-block">@Model.NumFollowers</span>
                    Followers
                </div>
                <div class="col-auto user-detail-stats">
                    <span class="d-block">@Model.NumFollowing</span>
                    Following
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
