@using Disqus.Models
@using Disqus.Services
@using Microsoft.AspNetCore.Http.Extensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kentico.Content.Web.Mvc
@model DisqusPost
@inject IDisqusService disqusService
@inject DisqusRepository disqusRepository

@{
    Layout = null;
    var currentUser = await disqusRepository.GetCurrentUser();
    var doCollapse = Model.IsEditing || string.IsNullOrEmpty(Model.Parent) ? "" : "collapse";
    var embedOptions = Model.ForumObject.Settings.MediaEmbedEnabled ? ", 'image', 'video'" : "";

    // If creating a new reply, Model.Id will be empty, set to parent (the post we're replying to)
    var id = string.IsNullOrEmpty(Model.Id) ? $"reply_{Model.Parent}" : Model.Id;
}

<script>
    $(document).ready(function () {
        var quill = new window.Quill('#post_reply_container_@id #editor', {
            bounds: '#post_reply_container_@id #editor_container',
            theme: 'snow',
            placeholder: `@Model.ThreadObject.PlaceholderText`,
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'header': 1 }, { 'header': 2 }, 'blockquote'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'indent': '-1' }, { 'indent': '+1' }],
                    ['link'@Html.Raw(embedOptions)]
                ]
            },
        });

        // Set HTML content (if editing)
        if ('@Model.IsEditing.ToString()' === 'True') {
            const delta = quill.clipboard.convert(`@Html.Raw(Model.Raw_Message)`);
            quill.setContents(delta, 'silent');
        }

        // Update DisqusPost.Message when Quill changes
        quill.on('text-change', function (delta, oldDelta, source) {
            var richText = quill.root.innerHTML;
            $('#post_reply_container_@id #Message').val(richText);
        });
    });
</script>

<div id="post_reply_container_@id" class="post-reply-container col pt-1 @doCollapse">
    @if (!disqusService.IsAuthenticated())
    {
        await Html.RenderPartialAsync("_DisqusLoginForm.cshtml");
    }
    else
    {
        <form class="post-form" asp-action="SubmitPost" asp-controller="Disqus" asp-antiforgery="true"
              data-ajax="true" data-ajax-success="updatePost">
            <input asp-for="Id" />
            <input asp-for="Message" />
            <input asp-for="Thread" />
            <input asp-for="Forum" />
            <input asp-for="Parent" />
            <input asp-for="NodeID" />
            <input asp-for="IsEditing" />

            <div class="form-group row">
                @if (!Model.IsEditing)
                {
                    <div class="col-auto">
                        <img class="disqus-user-avatar-sm" src="@currentUser.AvatarUrl" />
                    </div>
                }
                <div class="col editor-wrapper">
                    <div id="editor_container">
                        <span class="form-posting-as">You're posting as @(currentUser.Name). <a href="@Url.Action("LogOut", "Disqus", new { returnUrl = Context.Request.GetEncodedUrl() })">Log out</a></span>
                        <div id="editor"></div>
                    </div>
                </div>
                <div class="col-auto pt-4 px-1">
                    <input type="submit" name="submitButton" value="Submit" class="p-0 btn btn-sm btn-primary" />
                    @if (Model.IsEditing)
                    {
                        <div class="pt-1">
                            <input type="button" onclick="cancelEdit(this)" data-post-id="@Model.Id" name="cancelButton" value="Cancel"
                                   class="p-0 btn btn-sm btn-danger" />
                        </div>
                    }
                </div>
            </div>
        </form>
    }
</div>
