@using Kentico.Xperience.Disqus.Models
@using Kentico.Xperience.Disqus.Services
@model DisqusRatingViewModel
@inject DisqusRepository disqusRepository

@{
    Layout = null;
    var disabled = Model.Disabled ? "disabled" : "";
    var title = Model.Disabled ? $"{Model.Rating} star rating" : "Click to rate (or leave empty to skip rating)";
    var intRating = int.Parse(Math.Round(Model.Rating).ToString());
}

<div id="disqus_thread_rating" class="col-auto @Model.Classes">
    <div class="thread-ratings">
        <input type="radio" name="@GetName(5)" id="@GetId(5)" value="5" @disabled @(intRating == 5 ? "checked" : "") />
        <label for="@GetId(5)" title="@title" data-disabled="@disabled">&starf;</label>

        <input type="radio" name="@GetName(4)" id="@GetId(4)" value="4" @disabled @(intRating == 4 ? "checked" : "") />
        <label for="@GetId(4)" title="@title" data-disabled="@disabled">&starf;</label>

        <input type="radio" name="@GetName(3)" id="@GetId(3)" value="3" @disabled @(intRating == 3 ? "checked" : "") />
        <label for="@GetId(3)" title="@title" data-disabled="@disabled">&starf;</label>

        <input type="radio" name="@GetName(2)" id="@GetId(2)" value="2" @disabled @(intRating == 2 ? "checked" : "") />
        <label for="@GetId(2)" title="@title" data-disabled="@disabled">&starf;</label>

        <input type="radio" name="@GetName(1)" id="@GetId(1)" value="1" @disabled @(intRating == 1 ? "checked" : "") />
        <label for="@GetId(1)" title="@title" data-disabled="@disabled">&starf;</label>
    </div>

    @if (Model.DisplaySummary && Model.Rating > 0)
    {
        var numRatings = await disqusRepository.GetThreadNumberRatings(Model.ThreadId);
        var allAuthors = await disqusRepository.GetDistinctAuthors(Model.ThreadId);

        var num1Star = allAuthors.Where(a => a.ThreadRating == 1).Count();
        var num2Star = allAuthors.Where(a => a.ThreadRating == 2).Count();
        var num3Star = allAuthors.Where(a => a.ThreadRating == 3).Count();
        var num4Star = allAuthors.Where(a => a.ThreadRating == 4).Count();
        var num5Star = allAuthors.Where(a => a.ThreadRating == 5).Count();

        var percent1Star = (num1Star / (double)numRatings) * 100;
        var percent2Star = (num2Star / (double)numRatings) * 100;
        var percent3Star = (num3Star / (double)numRatings) * 100;
        var percent4Star = (num4Star / (double)numRatings) * 100;
        var percent5Star = (num5Star / (double)numRatings) * 100;

        <script>
        $(document).ready(function () {
            $('#summary_link_@Model.StarId').hover(function () {
                $('#rating_summary_@Model.StarId').toggleClass('d-none');
            });
        });
        </script>
        <div class="col-auto d-inline px-0">
            <a href="#disqus_thread" id="summary_link_@Model.StarId" class="summary-link">
                (@numRatings ratings)
            </a>
        </div>

        <div id="rating_summary_@Model.StarId" class="rating-summary d-none">
            <div class="mb-1"><b>Average: @Model.Rating</b></div>
            1 star (@num1Star)
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:@(percent1Star)%" aria-valuenow="@percent1Star" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            2 stars (@num2Star)
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:@(percent2Star)%" aria-valuenow="@percent2Star" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            3 stars (@num3Star)
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:@(percent3Star)%" aria-valuenow="@percent3Star" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            4 stars (@num4Star)
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:@(percent4Star)%" aria-valuenow="@percent4Star" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            5 stars (@num5Star)
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:@(percent5Star)%" aria-valuenow="@percent5Star" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    }
</div>

@functions {
    string GetName(int starNum)
    {
        if (Model.Disabled)
        {
            return GetId(starNum);
        }
        else
        {
            return "ThreadRating";
        }
    }

    string GetId(int starNum)
    {
        return $"star-{Model.StarId}-{starNum}";
    }
}
