@using Disqus.Models
@using Disqus.Services
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kentico.Content.Web.Mvc
@model DisqusPost
@inject IDisqusService disqusService

@{ 
    Layout = null;
    var doCollapse = Model.IsEditing || string.IsNullOrEmpty(Model.Parent) ? "" : "collapse";
}

<script>
    $(document).ready(function () {
        console.log('quill init parent @Model.Parent');
        var quill = new Quill('#post_reply_container_@Model.Parent #editor', {
            bounds: '#post_reply_container_@Model.Parent #editor_container',
            theme: 'snow',
            placeholder: 'Join the discussion..'
        });
        quill.root.innerHTML = '@Model.Message';

        // Get Quill text before form submits
        $('#post_reply_container_@Model.Parent form').submit(function () {
            var richText = quill.root.innerHTML;
            $('#post_reply_container_@Model.Parent #Message').val(richText);
        });
    });
</script>

<div id="post_reply_container_@Model.Parent" class="post-reply-container col @doCollapse">
    @if (!disqusService.IsAuthenticated())
    {
        await Html.RenderPartialAsync("_DisqusLoginForm.cshtml");
    }
    else
    {
        <form class="post-form" asp-action="SubmitPost" asp-controller="Disqus" asp-antiforgery="true"
            data-ajax="true" data-ajax-success="updatePost" data-ajax-begin="ajaxBegin" data-ajax-complete="ajaxComplete">
            <input asp-for="Id" />
            <input asp-for="Message" />
            <input asp-for="Thread" />
            <input asp-for="Parent" />
            <input asp-for="IsEditing" />

            <div class="form-group row">
                @if (!Model.IsEditing)
                {
                    <div class="col-auto">
                        <img class="disqus-user-avatar-sm" src="@disqusService.CurrentUser.Avatar" />
                    </div>
                }
                <div id="editor_container" class="col p-0 form-group-input">
                    <span class="form-posting-as">You're posting as @disqusService.CurrentUser.FullName</span>
                    <div id="editor"></div>
                </div>
                <div class="col-4 pt-3">
                    <input type="submit" name="submitButton" value="Submit" class="btn btn-secondary btn-sm" />
                </div>
            </div>
        </form>
    }
</div>
